@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b1412;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Alkalami", serif;
}

h1 {
  color: #85b396;
  text-align: center;
  padding-bottom: 20px;
  font-size: 2rem;
}

.winning-message {
  background: rgba(0, 20, 0, 0.9);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
}
.winning-message p {
  color: #dfe0ba;
  font-size: 3rem;
}
.winning-message button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(0, 20, 0, 0.1);
  color: #dfe0ba;
  padding: 10px 20px;
  outline: none;
  border-radius: 30px;
  border: 1px solid #85b396;
  cursor: pointer;
  transition: all 100ms ease;
}
.winning-message button:hover {
  letter-spacing: 1px;
  background-color: rgba(0, 80, 0, 0.5);
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  transition: all 200ms ease;
}
.board .cell {
  width: 100px;
  height: 100px;
  border: 2px solid #dfe0ba;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .cell:nth-child(1), .board .cell:nth-child(2), .board .cell:nth-child(3) {
  border-top: none;
}
.board .cell:nth-child(1) {
  border-left: none;
}
.board .cell:nth-child(3) {
  border-right: none;
}
.board .cell:nth-child(4) {
  border-left: none;
}
.board .cell:nth-child(6) {
  border-right: none;
}
.board .cell:nth-child(7), .board .cell:nth-child(8), .board .cell:nth-child(9) {
  border-bottom: none;
}
.board .cell:nth-child(7) {
  border-left: none;
}
.board .cell:nth-child(9) {
  border-right: none;
}
.board .x, .board .o {
  cursor: not-allowed;
}
.board .x::after {
  content: "";
  position: relative;
  width: 5px;
  height: 60px;
  background-color: #85b396;
  rotate: 45deg;
}
.board .x::before {
  content: "";
  position: relative;
  width: 5px;
  height: 60px;
  background-color: #85b396;
  rotate: -45deg;
}
.board .o::after {
  content: "";
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 5px solid #85b396;
}

.bx .cell:not(.x):not(.o):hover::after {
  content: "";
  position: relative;
  width: 5px;
  height: 60px;
  background-color: #85b396;
  rotate: 45deg;
  opacity: 0.1;
}
.bx .cell:not(.x):not(.o):hover::before {
  content: "";
  position: relative;
  width: 5px;
  height: 60px;
  background-color: #85b396;
  rotate: -45deg;
  opacity: 0.1;
}

.bo .cell:not(.x):not(.o):hover::after {
  content: "";
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 5px solid #85b396;
  opacity: 0.1;
}

.show-winning-message {
  display: flex;
}

.score {
  color: #85b396;
  padding-bottom: 40px;
}/*# sourceMappingURL=style.css.map */